<h1>Édition : <%= @todo.description %></h1>
<%= render "form", todo:         @todo,
                   submit_label: "Enregistrer les modifications",
                   cancel_url:   todo_path(@todo) %>
